@model Product

<div class="container-fluid">
    <div>
        <h1>Create a Product</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" id="">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" type="text" class="form-control" id="">
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SalePrice" class="form-label">SalePrice</label>
            <input asp-for="SalePrice" type="text" class="form-control" id="">
            <span asp-validation-for="SalePrice" style="color:red"></span>
        </div>

        <div class="row col-12" style="padding:0px;">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label asp-for="CategoryId">Categories</label>
                <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" style="color:red"></span>
            </div>

            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label asp-for="ColorIds">Colors</label>
                <select asp-for="ColorIds" class="form-select" aria-label="Default select example">
                    @foreach (var color in ViewBag.Colors)
                    {
                        <option value="@color.Id">@color.Name</option>
                    }
                </select>
                <span asp-validation-for="ColorIds" style="color:red"></span>
            </div>

        </div>
        <div class="row col-12" style="padding:0px; margin:30px 0px;">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label asp-for="ProductMainImage">MainImage</label>
                <input class="form-control  ml-3" asp-for="ProductMainImage" />
                <span asp-validation-for="CategoryId" style="color:red"></span>
            </div>

            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label asp-for="ProductHoverImage">HoverImage</label>
                <input class="form-control  ml-3" asp-for="ProductHoverImage" />
                <span asp-validation-for="ProductHoverImage" style="color:red"></span>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label asp-for="ImagesFiles">FileImages</label>
                <input class="form-control  ml-3" asp-for="ImagesFiles" />
                <span asp-validation-for="ImagesFiles" style="color:red"></span>
            </div>

        </div>


        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" asp-controller="Product" class="btn btn-success">Back To Home</a>
    </form>


</div>


