@model List<Category>
@{
    int count = 0;
}
@section cssFiles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.min.css" />
}
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Products</h1>
        <a class="btn btn-primary" asp-action="Create" asp-controller="Category">Add</a>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@category.Name</td>
                    <td>
                        <a class="btn btn-danger delete-btn" asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id">Delete</a>
                        <a class="btn btn-warning" asp-action="Update" asp-controller="Category" asp-route-id="@category.Id">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section jsFiles{
    <script src="~/assets/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.min.js"></script>
}